*,
*::after,
*::before{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
display: none;
}

:root{
    --primary: #FFF5E0;
    --secondary: #FF6969;
    --tertiary: #41B06E;
    --complimentary: #22A699;
    --tertiary-light: #8DECB4;
    --complimentary-light: #78D5D7;
    --secondary-light: #fcb0b3;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
 }

#main-container{
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    border: 1px solid;
    gap: .2rem;
    padding: .6rem;
    background-color: var(--primary);
}

.tab{
    grid-column: 1 / span 2;
    background-color: var(--complimentary);
}

.caps{
    grid-column: 1 / span 2;
    background-color: var(--complimentary);
}

.enter{
    grid-column: 14 / span 2;
    background-color: var(--complimentary);
}

.shift1{
    grid-column: 1 / span 3;
    background-color: var(--complimentary);
}

.shift2{
    grid-column: 14 / span 2;
    background-color: var(--complimentary)
}

.space{
    grid-column: 5 / span 5;
    background-color: var(--complimentary);
}

.control-left{
    grid-column: 1 / span 2;
    background-color: var(--complimentary);
}

button{
    padding: .5rem;
    background-color: var(--secondary);
    border-radius: 5px;
    border: 1px solid;
    position: relative;
}

button:hover{
 background-color: var(--secondary-light);
}

.arrow:hover{
    background-color: var(--tertiary-light);
}

.backspace{
    grid-column: 14 / span 2;
    background-color: var(--complimentary);
}

.left{
    background-color: var(--tertiary);
}

.up{
    background-color: var(--tertiary);
}

.down{
    background-color: var(--tertiary);
}

.right{
    background-color: var(--tertiary);
}

.special-button:hover{
    background-color: var(--complimentary-light);
}